/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+excel-formula+git+markdown+python+shell-session+sql */
code[class*=language-],pre[class*=language-]
{color:#20B5E9;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]
{background:#e9ebec}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog
{color:#7f8081}.token.punctuation
{color:#454545}.token.attr-name,.token.deleted,.token.namespace,.token.tag
{color:#ad5daf}.token.function-name
{color:#d6d5d5}.token.boolean,.token.function,.token.number
{color:#62b98c}.token.class-name,.token.constant,.token.property,.token.symbol
{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector
{color:#ec5424}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable
{color:#ad5daf}.token.entity,.token.operator,.token.url
{color:#454545}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted
{color:green}
